a.nav-link{
    font-weight: 500;
}
.container{
    margin-bottom: 100px;
}
.header{
    margin-bottom: 0;
}
.carousel-area{
    background-image: url(images/bg.png);
    background-size: cover;
    background-position: left;
}

.carousel-indicators {
    bottom: -30px;
}
.carousel-indicators li{
    background-color: gray;
    width: 13px;
    height: 10px;
    border-radius: 48% !important;
}
.carousel-indicators li.active{
    background-color: orange;
}
p{
    color: #707070;
}
.buy-now-button{
    background-color: black;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: .5s;
}
button:hover{
    background-color: white;
    color: black;
    border-color: black;
}
.phone, .laptop{
    margin-bottom: 10px;
}

.orange-link{
    text-decoration: none;
    color: orange;
    font-weight: 500;
}
.orange-link:hover{
    text-decoration: none;
}

.card{
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px lightgray;
    padding: 10px 20px;
    transition: 1s;
}
.card:hover, .cat-img:hover{
    box-shadow: 5px 5px 40px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
hr{
    width: 100px;
    height: 6px;
    border: none;
    border-radius: 19px;
    margin: 0 auto;
    background-color: orange;
    background-image: linear-gradient(45deg,#ffd019, #ff9c35);
}
.cat-img{
    box-shadow: 1px 1px 10px lightgrey;
    padding: 76px 25px;
}
.cat1{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 30px;
}
.cat2{
    border-top-left-radius: 15px;
    border-bottom-right-radius: 30px;
}


